.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 40px;

}

h2 {
  margin: 10px;
}

h3 {
  font-size: 1rem;
}

.heading-row {
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.flame-image {
  height: 2.5rem;
  margin-bottom: 40px;
}

.location-row {
  display: flex;
  justify-content: center;
  text-align: center;
}

.house-image {
  height: 1rem;
  margin-right: 3px;
}

.profile-image{
  width: 200px;
  height: 200px;
  margin: 10px;
}

.container{
  width: 100%;
  max-width: 400px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding-bottom: 60px;
}


ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-areas: 
    "a    q-h"
    "a-li q";
}

.about-header {
  grid-area: a;
}

.about-list {
  grid-area: a-li;
}

.quote-header {
  grid-area: q-h;
}

.quote {
  grid-area: q;
}

label {
  font-size: 1rem;
}

.settings-input{
  width: 50%;
  padding: 2px;
  margin: 2px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  max-width: auto;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.current-text {
  font-size: 0.7rem;
  margin-top: '5px';
  color: '#666';
}